{{#> template_base}}


    <!-- Page Title -->
    <div class="page-title bg-dark dark">
        <div class="bg-image bg-parallax"><img src="{{publicDirectoryLocation}}/img/photos/blog_header.jpg" alt=""></div>

        <div class="container">
            <div class="row justify-content-center">
                <h1 class="mb-0">Blogs</h1>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="page-content bg-light">

        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <!-- Post / Item -->
                    {{#each blogsData}}
                        <a class="post post-wide animated" data-animation="fadeIn" href="/blog/{{blog_id}}">
                            <div class="post-image"><img src="{{@root.IMAGE_BACKENDFRONT_LINK_PATH}}{{blog_display_image}}" alt=""></div>
                            <div class="post-content">
                                <ul class="post-meta">
                                    <li>{{blog_creation_date}}</li>
                                    <li>by {{blog_author}}</li>
                                </ul>
                                <h4>{{blog_title}}</h4>
                                <!--<p>Nulla leo lectus, commodo porttitor lacus a, placerat facilisis ligula.</p>-->
                            </div>
                        </a>
                    {{/each}}


                    <!-- Pagination -->
                    <nav aria-label="Page navigation" class="mt-5">
                        {{{parsedPaginatorHtml}}}
                    </nav>
                </div>
            </div>
        </div>

    </div>

{{/template_base}}
