{{#> template_base}}

    <!-- Post / Single -->
    <article class="post single bg-light">
        <div class="post-image bg-parallax"><img src="{{IMAGE_BACKENDFRONT_LINK_PATH}}{{blogData.blog_display_image}}" alt=""></div>
        <div class="container container-md">
            <div class="post-content">
                <ul class="post-meta">
                    <li>{{blogData.blog_creation_date}}</li>
                    <li>by {{blogData.blog_author}}</li>
                </ul>
                <h1 class="post-title">{{blogData.blog_title}}</h1>
                <hr>
                {{{blogData.blog_content}}}
            </div>
        </div>
    </article>

{{/template_base}}