<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-signin-client_id" content="730014109642-7rldv9agg9qp0avagkapdv9l4kocjt5e.apps.googleusercontent.com">

    <!-- Title -->
    <title>Gagneja's</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{publicDirectoryLocation}}/img/favicon.png">
    <link rel="apple-touch-icon" href="{{publicDirectoryLocation}}/img/favicon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{publicDirectoryLocation}}/img/favicon_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{publicDirectoryLocation}}/img/favicon_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{publicDirectoryLocation}}/img/favicon_152x152.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162363580-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-162363580-1');
    </script>



{{#if isEnvironmentProduction}}
    <!-- CSS Plugins -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" />

    <!-- CSS Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


{{else}}
    <!-- CSS Plugins -->
    <link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/plugins/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="/plugins/animate.css/animate.min.css" />
    <link rel="stylesheet" href="/plugins/animsition/dist/css/animsition.min.css" />
    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css" />

    <!-- CSS Icons -->
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css" />

{{/if}}
    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="{{publicDirectoryLocation}}/css/themes/theme-beige.css" />
    <link id="theme" rel="stylesheet" href="{{publicDirectoryLocation}}/css/themes/my-personal.css" />
    <script src="https://js.stripe.com/v3/"></script>

</head>

<body>

<!-- Body Wrapper -->
<div id="body-wrapper" class="animsition">

    {{>header_checkout}}

    <!-- Content -->
    <div id="content">

        <!-- Page Title -->
        <div class="page-title bg-dark dark">
            <!-- BG Image -->
            <div class="bg-image bg-parallax"><img src="{{publicDirectoryLocation}}/img/photos/bg-croissant.jpg" alt=""></div>
            <div class="container">
                <div class="row justify-content-center">
                    <h1 class="mb-0">Checkout</h1>
                </div>
            </div>
        </div>

        <!-- Section -->
        <section class="section bg-light">

            <div class="container">
                <div class="row">
                    <!--On small screen, the cart table will appear first (order-first)
                     and on large screen it will appear after checkout form (order-lg-last)-->
                    <div class="order-first order-lg-last col-lg-5 col-xl-4 ">
                        <div class="shadow bg-white stick-to-content mb-4">
                            <div class="bg-dark dark p-4"><h5 class="mb-0">You order</h5></div>


                            <table id="cartTable" class="table-cart">

                            </table>
                            <div class="cart-summary">
                                <div class="row text-md">
                                    <div class="col-7 text-right text-muted">Total:</div>
                                    <div class="col-5">
                                        <strong>
                                            <span id="totalItemsPrice" class="money-currency">price_here</span>
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="order-last order-lg-first col-lg-7 col-xl-8  ">
                        <form id="form-checkout">
                            <div class="bg-white p-4 p-md-5 mb-4">
                                <h4 class="border-bottom pb-4"><i class="ti ti-user mr-3 text-primary"></i>Basic information</h4>
                                <div class="row mb-5">
                                    <div class="form-group col-sm-6">
                                        <label>Firstname:</label>
                                        <input id="input-checkout-firstname" name="firstname" value="{{userData.firstname}}" type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Lastname:</label>
                                        <input id="input-checkout-lastname" name="lastname" value="{{userData.lastname}}"type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Phone number:</label>
                                        <input id="input-checkout-phone" name="phone" type="tel" class="form-control">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>E-mail address:</label>
                                        <input id="input-checkout-email" name="email" value="{{userData.email}}"type="email" class="form-control">
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Comments</label>
                                        <input id="input-checkout-comments" name="comments" type="text" class="form-control" placeholder="Any instruction on how to prepare the food" >
                                    </div>
                                </div>

                                <h4 class="border-bottom pb-4"><i class="ti ti-package mr-3 text-primary"></i>Delivery</h4>
                                <div class="row mb-5">
                                    <div class="form-group col-sm-12">
                                        <label>House/Flat/Block No</label>
                                        <input id="input-checkout-address-line1" name="addressLine1" type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Landmark</label>
                                        <input id="input-checkout-address-line2" name="addressLine2" type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>City</label>
                                        <input id="input-checkout-address-line3" name="addressLine3" type="text" class="form-control" value="Delhi-NCR" disabled>
                                    </div>
                                </div>


                                <h4 class="border-bottom pb-4"><i class="ti ti-wallet mr-3 text-primary"></i>Payment</h4>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label>Card Number</label>
                                        <div id="card-element-number" class="field form-control"></div>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label>Expiry Date</label>
                                        <div id="card-element-expiry" class="field form-control"></div>
                                    </div>

                                    <div class="form-group col-sm-3">
                                        <label>CVC</label>
                                        <div id="card-element-cvc" class="field form-control"></div>
                                    </div>
                                </div>
                                <div id="card-errors-number" role="alert" class="text-center" style="color: red;"><br></div>
                                <div id="card-errors-expiry" role="alert" class="text-center" style="color: red;"><br></div>


                            </div>
                            <div class="text-center">
                                <button id="btn_MakeDevOrder" type="button" class="btn btn-outline-primary btn-lg btn-bg-dark" onclick="skipPayment();">
                                    <span class="text-white">Skip Payment</span>
                                </button>
                                <button id="btn_MakeRealOrder" type="button" class="btn btn-outline-primary btn-lg btn-bg-dark" onclick="sendOrder();">
                                    <span class="text-white">Order now!</span>
                                </button>

                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </section>


        {{>footer}}

    </div>
    <!-- Content / End -->


    {{>panel_mobile}}

    <!-- Body Overlay -->
    <div id="body-overlay"></div>

</div>

{{#if isEnvironmentProduction}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-appear/0.1/jquery.appear.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.4.0/jquery.localScroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mb.YTPlayer/3.0.2/jquery.mb.YTPlayer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.26/skrollr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" ></script>

{{else}}
    <!-- JS Plugins -->
    <script src="/plugins/jquery/dist/jquery.min.js"></script>
    <script src="/plugins/tether/dist/js/tether.min.js"></script>
    <script src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/plugins/slick-carousel/slick/slick.min.js"></script>
    <script src="/plugins/jquery.appear/jquery.appear.js"></script>
    <script src="/plugins/jquery.scrollto/jquery.scrollTo.min.js"></script>
    <script src="/plugins/jquery.localscroll/jquery.localScroll.min.js"></script>
    <script src="/plugins/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js"></script>
    <script src="/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/plugins/jquery-validation/dist/jquery-validate-additional-methods.min.js"></script>
    <script src="/plugins/skrollr/dist/skrollr.min.js"></script>
    <script src="/plugins/animsition/dist/js/animsition.min.js"></script>
    <script src="/plugins/toastr/toastr.min.js" ></script>
{{/if}}

<!-- JS Core -->
<script src="{{publicDirectoryLocation}}/js/core.js"></script>


<!-- Changes in javascript made by me-->
<script src="{{publicDirectoryLocation}}/js/myPersonal.js"></script>
<script src="{{publicDirectoryLocation}}/js/analytics_utils.js"></script>
<script src="{{publicDirectoryLocation}}/js/cart.js"></script>

<script >



    renderCart() ;
    setupDeleteCartButton("checkout") ;






    const stripe = Stripe('pk_test_FPbfGF5aEyQqsBfsPytI46qw002ouxr0PP');
    var elements = stripe.elements();
    let cardNumberElement, cardExpiryElement, cardCvcElement;
    function setupStripeCardElements() {
        /* This function sets up the card divs and their validation using stripe libraary
        */

        cardNumberElement = elements.create('cardNumber', {
            placeholder: '16 Digit number here',
        });
        cardNumberElement.mount('#card-element-number');

        cardExpiryElement = elements.create('cardExpiry', {
            placeholder: 'MM/YY',
        });
        cardExpiryElement.mount('#card-element-expiry');

        cardCvcElement = elements.create('cardCvc', {
            placeholder: 'CVC',
        });
        cardCvcElement.mount('#card-element-cvc');

        // setting errors to show
        cardNumberElement.on('change', (result)=>{
            if(result.error){
                $('#card-errors-number').text(result.error.message) ;
            }else{
                $('#card-errors-number').html('<br>') ; //removes the error when text is changed
            }
        }) ;

        cardExpiryElement.on('change', (result)=>{
            if(result.error){
                $('#card-errors-expiry').text(result.error.message) ;
            }else{
                $('#card-errors-expiry').html('<br>') ; //removes the error when text is changed
            }
        }) ;


    }
    setupStripeCardElements() ;


    function sendOrder(){
      if(localStorage.getItem('total_items_price') == '0'){
        makeToast('error', "Your cart is empty") ;
        return ;
      }
        $('#form-checkout').validate({
            errorPlacement : (error, element)=>{
                //insert the label element after the parent div
                error.insertAfter(element) ;
                $(error).addClass('invalid-feedback') ;

            },
            highlight: function(element) {
                // function is invoked on any input element when error occurs for that particular input
                $(element).addClass('is-invalid') ;

            },
            unhighlight: function(element) {
                $(element).removeClass('is-invalid') ;

            },
            success : (label, element)=>{
                $(element).addClass("is-valid") ;
            },
            rules : {
                firstname : {
                    required : true,
                },
                lastname : {
                    required : true
                },
                email : {
                    required : true,
                    email : true,
                },
                phone : {
                    required : true,
                    number : true,
                    minlength : 6,
                    maxlength : 12
                },
                addressLine1: {
                    required : true,
                    minlength:5
                },
                addressLine2 : {
                    required : true,
                    minlength : 3
                }

            },
            messages : {
                firstname : {
                    required : "Please provide a valid Firstname",
                },
                lastname : {
                    required : "Please provide a valid Lastname"
                },
                email : {
                    required : "Please provide a valid Email address",
                    email : "This email address is not valid",
                },
                phone : {
                    required : "Please provide a valid phone number",
                    number : "Phone number can only contain numbers",
                    minLength : "Please provide a valid phone number",
                    maxLength :  "Please provide a valid phone number"
                },
                addressLine1: "Please provide a valid Address",
                addressLine2 : "Please provide a valid Landmark for your address"
            },


            submitHandler : ()=>{
                showSpinner($('#btn_MakeRealOrder')) ;
                stripe.createPaymentMethod({
                    type: 'card',
                    card: cardNumberElement, // it automatically collects the card expiry info, you can see that in the paymentData object
                    billing_details: {
                    },
                })
                .then((paymentData)=>{
                    console.log("Payment data is ", paymentData) ;
                    sendOrderToBackend(paymentData) ;
                })
                .catch((err2)=>{
                    console.log(err2) ;
                    console.log("error in create payment method of stripe") ;
                }) ;
                console.log("Form is now valid") ;
            }

        }) ;

        $('#form-checkout').submit() ;




    }

    function sendOrderToBackend(paymentData){
        fetch('/checkout', {
            method : 'POST',
            headers : {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body : JSON.stringify({
                payment_method_id: paymentData.paymentMethod.id,
                backendCart : parseCartForBackend(),
                addressLine1 : $('#input-checkout-address-line1').val(),
                addressLine2 : $('#input-checkout-address-line2').val(),
                addressLine3 : $('#input-checkout-address-line3').val(),
                firstname : $('#input-checkout-firstname').val(),
                lastname : $('#input-checkout-lastname').val(),
                email : $('#input-checkout-email').val(),
                phone: $('#input-checkout-phone').val(),
                comments : $('#input-checkout-comments').val()
            })
        })
        .then((response)=>response.json()) //response is just http status codes, this is needed to get data
        .then((data)=>{
            handleServerResponse(data);
        })
        .catch((err)=>{
            console.log(err) ;
            makeToast('error', "Error in ordering") ;
        }) ;
    }



    function handleServerResponse(response) {
        if (response.error) {
            // Show error from server on payment form
            hideSpinner($('#btn_MakeRealOrder')) ;
            console.log(response.error) ;
             makeToast('error', "Error in payment") ;
        } else if (response.requires_action) {
            // Use Stripe.js to handle required card action
            stripe.handleCardAction(response.payment_intent_client_secret)
                    .then(handleStripeJsResult);
        } else {
            // show Success Message
            hideSpinner($('#btn_MakeRealOrder')) ;
            ga_CompleteTransaction(response.orderId, localStorage.getItem('total_price'), JSON.parse(localStorage.getItem('cart')))
            console.log(response) ;
            resetLocalStorage() ;
            makeToast('info', "Payment Successfull. Redirecting you") ;
            setTimeout(function () {
                // this is needed because, if we immediately redirect the user,
                // then send transaction event is not sent to google analytics tag manager
                window.location.href=`/order` ;
            }, 500) ;

        }
    }

    function handleStripeJsResult(result) {
        if (result.error) {
            // Show error in payment form
            hideSpinner($('#btn_MakeRealOrder')) ;
            console.log(result.error) ;
            makeToast('error', "Error in payment") ;
        } else {
            // The card action has been handled
            // The PaymentIntent can be confirmed again on the server
            console.log("Making another request to /pay inside the method handleStripeJsResult") ;
            fetch('/checkout', {
                // send the whole cart and user data again
                // also right now we do not have access to csrf token
                // as it was changed in the last request and we don't have it
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    payment_intent_id: result.paymentIntent.id,
                    backendCart : parseCartForBackend(),
                    addressLine1 : $('#input-checkout-address-line1').val(),
                    addressLine2 : $('#input-checkout-address-line2').val(),
                    addressLine3 : $('#input-checkout-address-line3').val(),
                    firstname : $('#input-checkout-firstname').val(),
                    lastname : $('#input-checkout-lastname').val(),
                    email : $('#input-checkout-email').val(),
                    phone: $('#input-checkout-phone').val(),
                    comments : $('#input-checkout-comments').val()
                })
            })
            .then((confirmResult)=> confirmResult.json())
            .then(handleServerResponse)
            .catch((err)=>{
                hideSpinner($('#btn_MakeRealOrder')) ;
                makeToast('error', "Error in payment") ;
                console.log(err) ;
                console.log("Inside the error handler for confirming the transaction") ;
            }) ;
        }
    }











    function skipPayment(){
        if(localStorage.getItem('total_items_price') == '0'){
            makeToast('error', "Your cart is empty") ;
            return ;
        }
        $('#form-checkout').validate({
            errorPlacement : (error, element)=>{
                //insert the label element after the parent div
                error.insertAfter(element) ;
                $(error).addClass('invalid-feedback') ;

            },
            highlight: function(element) {
                // function is invoked on any input element when error occurs for that particular input
                $(element).addClass('is-invalid') ;

            },
            unhighlight: function(element) {
                $(element).removeClass('is-invalid') ;

            },
            success : (label, element)=>{
                $(element).addClass("is-valid") ;
            },
            rules : {
                firstname : {
                    required : true,
                },
                lastname : {
                    required : true
                },
                email : {
                    required : true,
                    email : true,
                },
                phone : {
                    required : true,
                    number : true,
                    minlength : 6,
                    maxlength : 12
                },
                addressLine1: {
                    required : true,
                    minlength:5
                },
                addressLine2 : {
                    required : true,
                    minlength : 3
                }

            },
            messages : {
                firstname : {
                    required : "Please provide a valid Firstname",
                },
                lastname : {
                    required : "Please provide a valid Lastname"
                },
                email : {
                    required : "Please provide a valid Email address",
                    email : "This email address is not valid",
                },
                phone : {
                    required : "Please provide a valid phone number",
                    number : "Phone number can only contain numbers",
                    minLength : "Please provide a valid phone number",
                    maxLength :  "Please provide a valid phone number"
                },
                addressLine1: "Please provide a valid Address",
                addressLine2 : "Please provide a valid Landmark for your address"
            },


            submitHandler : ()=>{
                showSpinner($('#btn_MakeDevOrder')) ;
                fetch('/checkout-development', {
                    method : 'POST',
                    headers : {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body : JSON.stringify({
                        backendCart : parseCartForBackend(),
                        addressLine1 : $('#input-checkout-address-line1').val(),
                        addressLine2 : $('#input-checkout-address-line2').val(),
                        addressLine3 : $('#input-checkout-address-line3').val(),
                        firstname : $('#input-checkout-firstname').val(),
                        lastname : $('#input-checkout-lastname').val(),
                        email : $('#input-checkout-email').val(),
                        phone: $('#input-checkout-phone').val(),
                        comments : $('#input-checkout-comments').val()
                    })
                })
                .then((response)=>response.json())
                .then((data)=>{
                    hideSpinner($('#btn_MakeDevOrder')) ;
                    if(data.status == true){
                        ga_CompleteTransaction(data.orderId, localStorage.getItem('total_price'), JSON.parse(localStorage.getItem('cart'))) ;
                        resetLocalStorage() ;
                        makeToast('info', "Payment Successfull. Redirecting you") ;
                        setTimeout(function () {
                            // this is needed because, if we immediately redirect the user,
                            // then "send-transaction" event is not sent to google analytics tag manager
                            window.location.href=`/order` ;
                        }, 500)
                    }else{
                        console.log(data);
                        throw "Error in completing checkout process" ;
                    }
                })
                .catch((err)=>{
                    hideSpinner($('#btn_MakeDevOrder')) ;
                    console.log(err) ;
                    makeToast('error', "Error in ordering") ;
                }) ;
            }

        }) ;

        $('#form-checkout').submit() ;

    }








</script>

</body>


</html>
