{{#> template_base}}

    <!-- Page Title -->
    <div class="page-title bg-dark dark">
        <div class="bg-image bg-parallax"><img src="/img/photos/contactus_header.jpg" alt=""></div>
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="mb-0">. Contact Us</h1>

            </div>
        </div>
    </div>

    <!-- Section -->
    <section class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 offset-lg-1 col-md-6">
                    <img src="../img/logo-horizontal-dark.png" alt="" class="mb-5" width="180">
                    <h4 class="mb-0">{{contactData.restaurant_name}}</h4>
                    <span class="text-muted">
                        {{contactData.restaurant_addr_1}}<br>
                        {{contactData.restaurant_addr_2}}<br>
                        {{contactData.restaurant_addr_3}}
                    </span>
                    <hr class="hr-md">
                    <div class="row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <h6 class="mb-1 text-muted">Phone:</h6>
                            {{contactData.restaurant_phone}}
                        </div>
                        <div class="col-sm-6">
                            <h6 class="mb-1 text-muted">E-mail:</h6>
                            {{contactData.restaurant_email}}
                        </div>
                    </div>
                    <hr class="hr-md">
                    <h6 class="mb-3 text-muted">Follow Us!</h6>
                    <a href="{{socialInfo.facebook}}" class="icon icon-social icon-circle icon-sm icon-facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="{{socialInfo.twitter}}" class="icon icon-social icon-circle icon-sm icon-twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="{{socialInfo.youtube}}" class="icon icon-social icon-circle icon-sm icon-youtube">
                        <i class="fa fa-youtube"></i>
                    </a>
                    <a href="{{socialInfo.instagram}}" class="icon icon-social icon-circle icon-sm icon-instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                <div class="col-lg-5 offset-lg-2 col-md-6">
                    <div id="google-map-1" class="h-500 shadow" data-latitude="{{contactData.latitude}}" data-longitude="{{contactData.longitude}}"></div>
                </div>
            </div>
        </div>

    </section>

{{/template_base}}


{{#*inline "partial_body"}}<!-- JS Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOt5KmGHnyjT3QwpXk9z0QTkT06FpjWHY"></script>
{{/inline}}
