<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-signin-client_id" content="730014109642-7rldv9agg9qp0avagkapdv9l4kocjt5e.apps.googleusercontent.com">

    <!-- Title -->
    <title>Gagneja's</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="apple-touch-icon" href="/img/favicon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon_152x152.png">

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/plugins/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="/plugins/animate.css/animate.min.css" />
    <link rel="stylesheet" href="/plugins/animsition/dist/css/animsition.min.css" />
    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css" />

    <!-- CSS Icons -->
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css" />

    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="/css/themes/theme-beige.css" />
    <link id="theme" rel="stylesheet" href="/css/themes/my-personal.css" />
    <link id="theme" rel="stylesheet" href="/css/login.css" />


</head>

<body class="header-absolute">

<!-- Body Wrapper -->
<div id="body-wrapper" class="animsition">


    <div id="content ">
        <section class="section ">

            <div class="fullscreen-bg bg-dark dark">
                <video loop muted autoplay  class="bg-video-mine" style="opacity: 0.3">
                    <source src='/videos/home.mp4'  type="video/mp4">
                </video>
            </div>


            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8 offset-lg-4 offset-md-3 offset-sm-2">
                    <div class="card ">
                        <div class="card-block" style="margin: 40px">
                            <div class="row">
                                <div class="col-6 offset-3">
                                    <img src="/img/logo-horizontal-dark.png" class="img-fluid" alt="brand-logo">
                                </div>
                            </div>
                            <br>

                            <div id="div_SectionSignIn" class="panel-login">
                                <div class="text-center text-lg ">
                                    <b>Login to your account</b><br>
                                    Don't have an account? <a class="lnk-toggler allows-goto" data-gofrom="div_SectionSignIn" data-goto="div_SectionSignUp" data-panel=".panel-signup" href="#">Sign Up here</a>
                                </div>
                                <br><br>
                                <div class="row text-white">
                                    <div class="col-6 col-sm-6 text-center">
                                        <button id="Btn_FacebookLogin" type="button" class="btn " onclick="facebookSignIn();" style="background-color: #3b5998;"><span class="text-white">Facebook Login</span></button>
                                    </div>
                                    <div class="col-6 col-sm-6 text-center">
                                        <button id="Btn_GoogleLogin" type="button" class="btn " style="background-color:#c32f10 ;"><span class="text-white">Google Login</span></button>
                                        <!--<div class="g-signin2"  data-longtitle="true" data-onsuccess="onGoogleSignIn"></div>-->
                                    </div>
                                </div>
                                <div class="row loginOr">
                                    <div class="col-xs-12 col-sm-12">
                                        <hr class="hrOr">
                                        <span class="spanOr">or</span>
                                    </div>
                                </div>

                                <form id="form-Login" >
                                    <div class="form-group wrap-input">
                                        <input id="input-login-email" name="post_Email" type="email" class="form-control email" placeholder="Email address">
                                        <span id="input-login-email-line" class="focus-input"></span>
                                    </div>
                                    <div class="form-group wrap-input pwdMask">
                                        <input id="input-login-password" name="post_Password" type="password" class="form-control password"  placeholder="Password">
                                        <span class="focus-input"></span>
                                        <span class="fa fa-eye-slash pwd-toggle"></span>
                                    </div>
                                    <div class="row remember-row">
                                        <div class=" offset-xs-6 offset-sm-6 col-xs-6 col-sm-6">
                                            <p class="forgotPwd">
                                                <a class="lnk-toggler allows-goto" data-gofrom="div_SectionSignIn" data-goto="div_SectionForgotPassword" href="#">Forgot password?</a>
                                            </p>
                                        </div>
                                    </div>
                                    <button id="Btn_Login" class="btn btn-lg btn-outline-primary btn-block btn-bg-dark" type="button" onclick="normalSignIn();"><span class="text-white">Login</span></button>
                                </form>
                            </div>


                            <div id="div_SectionSignUp" class="panel-signup" >
                                <div class="text-center text-lg ">
                                    <b>Sign up for Free!</b><br>
                                </div>
                                <br>
                                <form id="form-SignUp">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group wrap-input">
                                                <input id="input-signup-firstname" name="post_Firstname" class="form-control" type="text"  placeholder="Firstname">
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group wrap-input">
                                                <input id="input-signup-lastname" name="post_Lastname" class="form-control" type="text"  placeholder="Lastname" >
                                                <span class="focus-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group wrap-input">
                                        <input id="input-signup-email" name="post_Email" class="form-control" type="email" placeholder="Email address" >
                                        <span class="focus-input"></span>
                                    </div>
                                    <div class="form-group wrap-input pwdMask">
                                        <input id="input-signup-password" name="post_Password" class="form-control" type="password"  placeholder="Password" >
                                        <span class="focus-input"></span>
                                        <span class="fa fa-eye-slash pwd-toggle"></span>
                                    </div>
                                    <div class="form-group wrap-input pwdMask">
                                        <input id="input-signup-password-again" name="post_PasswordAgain" class="form-control" type="password" placeholder="Retype your password" >
                                        <span class="focus-input"></span>
                                    </div>
                                    <br>
                                    <button id="Btn_SignUp" class="btn btn-lg btn-primary btn-block btn-bg-dark" type="button" onclick="normalSignUp();"><span class="text-white">Sign up</span></button>
                                    <br>
                                </form>
                                <div class="text-center">
                                    <a class="allows-goto" data-gofrom="div_SectionSignUp" data-goto="div_SectionSignIn" href="#">Already have an account?</a>
                                </div>
                            </div>


                            <div id="div_SectionForgotPassword" class="panel-forgot">
                                <div class="text-center text-lg ">
                                    <b>Reset Your Password</b><br>
                                </div>
                                <br>
                                <p>Fill in your e-mail address below and we will send you an email with further instructions.</p>
                                <form id="form-forgotPassword">
                                    <div class="form-group wrap-input">
                                        <input id="input-forgot-email" name="post_Email" type="email" class="form-control" placeholder="Email address">
                                        <span class="focus-input"></span>
                                    </div>
                                    <br>
                                    <button id="Btn_ForgetPassword" class="btn btn-lg btn-primary btn-block btn-bg-dark" type="button" onclick="postGeneratePasswordResetEmail()"><span class="text-white">Send Email</span></button>
                                </form>
                                    <br>
                                <div class="text-center  ">
                                    <a class="allows-goto" data-gofrom="div_SectionForgotPassword" data-goto="div_SectionSignIn" href="#">Already have an account?</a>
                                    <br>
                                    <a class="allows-goto" data-gofrom="div_SectionForgotPassword" data-goto="div_SectionSignUp" href="#">Don't have an account?</a>
                                </div>
                            </div>


                            <div id="div_SectionForgotPasswordResponse" >
                                <div class="text-center text-lg ">
                                    <b>Reset Password</b><br>
                                </div>
                                <br>
                                <p>An email containing the instructions to reset your password has been sent to your email address
                                    Please check your email inbox</p>
                                <br>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--These br tags are added so that when we click on some other page, the scroll up animation works correctly -->
            <!-- Try Removing these br tags and then go from home page to about page and you will see -->
            <br><br><br><br><br><br><br><br><br><br>

        </section>
    </div>




    <!-- Body Overlay : used to darken the rest of layout when cart is opened -->
    <div id="body-overlay"></div>

</div>


<!-- JS Plugins -->
<script src="/plugins/jquery/dist/jquery.min.js"></script>
<script src="/plugins/tether/dist/js/tether.min.js"></script>
<script src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/plugins/slick-carousel/slick/slick.min.js"></script>
<script src="/plugins/jquery.appear/jquery.appear.js"></script>
<script src="/plugins/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script src="/plugins/jquery.localscroll/jquery.localScroll.min.js"></script>
<script src="/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/plugins/jquery-validation/dist/jquery-validate-additional-methods.min.js"></script>
<script src="/plugins/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js"></script>
<script src="/plugins/twitter-fetcher/js/twitterFetcher_min.js"></script>
<script src="/plugins/skrollr/dist/skrollr.min.js"></script>
<script src="/plugins/animsition/dist/js/animsition.min.js"></script>
<script src="/plugins/toastr/toastr.min.js" ></script>

<script src="https://apis.google.com/js/platform.js?onload=googleSigninInit" async defer></script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
<!-- JS Core -->
<script src="/js/core.js"></script>

<!-- Changes in javascript made by me-->
<script src="/js/myPersonal.js"></script>
<script src="/js/cart.js"></script>

<script>

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '126236152092833',
            status : false,  // stops auto login
            cookie     : true,
            xfbml      : true,
            version    : 'v6.0'
        });
    };


    var googleSigninInit = function(){
        gapi.load('auth2', function(){
            // Retrieve the singleton for the GoogleAuth library and set up the client.
            auth2 = gapi.auth2.init({
                client_id: '730014109642-7rldv9agg9qp0avagkapdv9l4kocjt5e.apps.googleusercontent.com',
                cookiepolicy: 'single_host_origin',
                // Request scopes in addition to 'profile' and 'email'
                //scope: 'additional_scope'
            });

            auth2.attachClickHandler(document.getElementById('Btn_GoogleLogin'), {},
                    function(googleUser) {
                        showSpinner($('#Btn_GoogleLogin')) ;
                        onGoogleSignIn(googleUser) ;
                    }, function(error) {
                        hideSpinner($('#Btn_GoogleLogin')) ;
                        makeToast('error',`Error in logging in `) ;
                        console.log(error);
                    }
            );
        });
    } ;


    function googleSignOut() {
        try{
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                hideSpinner($('#Btn_GoogleLogin')) ;
                console.log('User signed out.');
                return true ;
            }) ;
        }catch(err) {
            hideSpinner($('#Btn_GoogleLogin')) ;
            console.log("Error") ;
            console.log(err) ;
            return false ;
        }
    }


    function onGoogleSignIn(googleUser) {
        console.log("signed in google") ;
        var id_token = googleUser.getAuthResponse().id_token;
        $.ajax({
            url : '/signup/google',
            method : "POST",
            data : {
                "post_idToken" : id_token,
                "_csrf" : "{{_csrfToken}}"
            },
            success : (result)=>{
                if(result.status ==true){
                    googleSignOut() ;
                    redirectBack('/') ;
                }else{
                    hideSpinner($('#Btn_GoogleLogin')) ;
                    console.log(result) ;
                }
            },
            error : (err)=> {
                hideSpinner($('#Btn_GoogleLogin')) ;
                makeErrorToast( "Error in logging in") ;
                console.log(err);
            }
        }) ;
    }


    function facebookSignIn(){
        showSpinner($('#Btn_FacebookLogin')) ;
        // This function is called after clicking the login button
        FB.login(function (response){
            // this inside function is called after we have gotten the result of facebook login
            // If the user gave permission, our status will be connected, else we show an error
            if (response.status === 'connected') {
                // Logged into your webpage and Facebook.
                // we need to make another request to get the email and name,
                // as faceboook only sends the id after login success
                FB.api('/me', {fields: 'id,first_name, last_name, email'}, function(profileInfo) {
                    if(profileInfo.error){
                        // Error in getting profile info
                        hideSpinner($('#Btn_FacebookLogin')) ;
                        showError(profileInfo.error, "Error in getting FB Profile Info") ;
                        FB.logout(function(response) {
                            console.log("Lgging out from FB bad") ;
                        });
                    }else {
                        console.log(response.authResponse.accessToken) ;
                        console.log(profileInfo) ;
                        // sending the post request
                        $.ajax({
                            url : '/signup/facebook',
                            method : "POST",
                            data : {
                                "post_idToken" : response.authResponse.accessToken,
                                "post_Email" : profileInfo.email,
                                "post_Firstname" : profileInfo.first_name,
                                "post_Lastname" : profileInfo.last_name,
                                "post_Id" : profileInfo.id,
                                "_csrf" : "{{_csrfToken}}"
                            },
                            success : (result)=>{
                                $('#Btn_FacebookLogin').text("Logged In") ;
                                if(result.status ==true){
                                    console.log(result) ;
                                    //sign out the facebook user
                                    console.log("calling this code ") ;
                                    FB.logout(function(resp) {
                                        console.log(resp) ;
                                        console.log("Lgging out from FB good") ;
                                        redirectBack('/') ;
                                    });
                                }
                            },
                            error : (err)=> {
                                hideSpinner($('#Btn_FacebookLogin')) ;
                                showError(err, "Error in Sending Post Request") ;
                                FB.logout(function(response) {
                                    console.log("Lgging out from FB bad") ;
                                });
                            }
                        }) ;
                    }
                });
            } else {
                // Not logged into your webpage or we are unable to tell.
                hideSpinner($('#Btn_FacebookLogin')) ;
                showError(response, "Error in logging in") ;
            }
        })
    }




    function normalSignIn(){
        // function for normal sign in (not google or facebook)
        $('#form-Login').validate({
            errorPlacement : (error, element)=>{
                //insert the label element after the parent div
                error.insertAfter(element.parent()) ;
            },
            highlight: function(element) {
                // function is invoked on any input element when error occurs for that particular input
                $(element).parent().children('span').addClass('error') ;
                $(element).parent().children('span').removeClass('success') ;

            },
            unhighlight: function(element) {
                // function is invoked for any input element when its error is removed,
                $(element).parent().children('span').removeClass('error') ;
            },
            success : (label, element)=>{
                $(element).parent().children('span').addClass("success") ;
            },
            rules : {
                post_Email : {
                    required : true,
                    email : true
                },
                post_Password : {
                    required : true,
                    minlength : 4
                }
            },
            messages : {
                post_Email : {
                    required : "Please provide an email address",
                    email : "This email address is not valid"
                },
                post_Password : {
                    required : "Please type a password",
                    minlength: "Password must be atleast 8 letters"
                }

            },


            submitHandler : ()=>{
                showSpinner($('#Btn_Login')) ;
                fetch('/login', {
                    method : 'POST',
                    body : new URLSearchParams({
                        post_Email : $('#input-login-email').val(),
                        post_Password : $('#input-login-password').val(),
                        _csrf : "{{_csrfToken}}",
                    })
                })
                .then((response)=>response.json()) //response is just http status codes, this is needed to get data
                .then((data)=>{
                    hideSpinner($('#Btn_Login')) ;
                    if(data.status == true){
                        redirectBack('/') ;
                    }else{
                        console.log(data);
                        throw "Error in logging in" ;
                    }
                    // return false ;
                })
                .catch((err)=>{
                    hideSpinner($('#Btn_Login')) ;
                    console.log(err) ;
                    makeToast('error', "Error in logging in") ;
                    // return false ;
                }) ;
            }

        }) ;

        $('#form-Login').submit() ;
    }



    function normalSignUp(){
        // function for normal sign in (not google or facebook)
        $('#form-SignUp').validate({
            errorPlacement : (error, element)=>{
                //insert the label element after the parent div
                error.insertAfter(element.parent()) ;
            },
            highlight: function(element) {
                // function is invoked on any input element when error occurs for that particular input
                $(element).parent().children('span').addClass('error') ;
                $(element).parent().children('span').removeClass('success') ;

            },
            unhighlight: function(element) {
                // function is invoked for any input element when its error is removed,
                $(element).parent().children('span').removeClass('error') ;
            },
            success : (label, element)=>{
                $(element).parent().children('span').addClass("success") ;
            },
            rules : {
                post_Firstname : {
                  required : true
                },
                post_Lastname : {
                  required : true
                },
                post_Email : {
                    required : true,
                    email : true
                },
                post_Password : {
                    required : true,
                    minlength : 4
                },
                post_PasswordAgain:{
                  required: true,
                  equalTo:'#input-signup-password'
                }
            },
            messages : {
                post_Firstname : {
                    required : "Please provide your firstname"
                },
                post_Lastname : {
                    required : "Please provide your lastname"
                },
                post_Email : {
                    required : "Please provide an email address",
                    email : "This email address is not valid"
                },
                post_Password : {
                    required : "Please type a password",
                    minlength: "Password must be atleast 8 letters"
                },
                post_PasswordAgain:{
                  required:"Please retype your password",
                    equalTo: "Your two passwords do not match"
                }

            },


            submitHandler : ()=>{
                showSpinner($('#Btn_SignUp')) ;
                fetch('/signup', {
                    method : 'POST',
                    body : new URLSearchParams({
                        post_Firstname : $('#input-signup-firstname').val(),
                        post_Lastname : $('#input-signup-lastname').val(),
                        post_Email : $('#input-signup-email').val(),
                        post_Password : $('#input-signup-password').val(),
                        post_PasswordAgain : $('#input-signup-password-again').val(),
                        _csrf : "{{_csrfToken}}",
                    })
                })
                .then((response)=>response.json())
                .then((data)=>{
                    hideSpinner($('#Btn_SignUp')) ;
                    if(data.status == true){
                        redirectBack('/') ;
                    }else{
                        console.log(data) ;
                        throw "error in signinup" ;
                    }
                }).catch((err)=>{
                    hideSpinner($('#Btn_SignUp')) ;
                    makeErrorToast("Error in loggin in") ;
                    console.log(err) ;
                }) ;
            }

        }) ;

        $('#form-SignUp').submit() ;




    }



    function postGeneratePasswordResetEmail(){

        $('#form-forgotPassword').validate({
            errorPlacement : (error, element)=>{
                //insert the label element after the parent div
                error.insertAfter(element.parent()) ;
            },
            highlight: function(element) {
                // function is invoked on any input element when error occurs for that particular input
                $(element).parent().children('span').addClass('error') ;
                $(element).parent().children('span').removeClass('success') ;

            },
            unhighlight: function(element) {
                // function is invoked for any input element when its error is removed,
                $(element).parent().children('span').removeClass('error') ;
            },
            success : (label, element)=>{
                $(element).parent().children('span').addClass("success") ;
            },
            rules : {
                post_Email : {
                    required : true,
                    email : true
                }

            },
            messages : {
                post_Email : {
                    required : "Please provide an email address",
                    email : "This email address is not valid"
                }
            },


            submitHandler : ()=>{
                showSpinner($('#Btn_ForgetPassword')) ;
                fetch('/forgotPassword', {
                    method : 'POST',
                    body : new URLSearchParams({
                        post_Email : $('#input-forgot-email').val(),
                        _csrf : "{{_csrfToken}}",
                    })
                })
                .then((response)=>response.json()) //response is just http status codes, this is needed to get data
                .then((data)=>{
                    hideSpinner($('#Btn_ForgetPassword')) ;
                    if(data.status == true && data.success =="MAIL_SENT"){
                        console.log(data) ;
                        $('#div_SectionForgotPasswordResponse').show() ;
                        $('#div_SectionForgotPassword').hide() ;
                    }else{
                        console.log(data);
                        throw "Error sending mail" ;
                    }
                })
                .catch((err)=>{
                    hideSpinner($('#Btn_ForgetPassword')) ;
                    console.log(err) ;
                    makeToast('error', "Error in sending mail") ;
                }) ;
            }

        }) ;

        $('#form-forgotPassword').submit() ;


    }

    function initGotoPanel(){
        // hides a div and show another div
        // the location of div to be shown in is data-goto
        // location of current div is in data-grofrom
        $('.allows-goto').click(function(event){
          event.preventDefault() ;
            $('#'+$(this).attr('data-goto')).show() ;
            $('#'+$(this).attr('data-gofrom')).hide() ;

        })
    }
    initGotoPanel() ;


    function setupPwdToggle(){
    /* so basically pwd looks like this
    <div class="pwdMask">
        <input id="input-login-password" name="post_Password" type="password" class="form-control password"  placeholder="Password">
        <span class="focus-input"></span>
        <span class="fa fa-eye-slash pwd-toggle"></span>
    </div>

     * So the show password button is basically a span element with fa-eye-slash class
     * on clicking it, we change the class to fa-eye and vice versa
     * so then we check if it fa-eye or fa-eye-slash
     * if it is fa-eye, we then change the our input type from password to text, thus making it visible.
     */
      $('.pwd-toggle').click(function(event){
        event.preventDefault() ;
        $(this).toggleClass('fa-eye-slash fa-eye') ;
        if($(this).hasClass("fa-eye")){
            $('.pwdMask > .form-control').attr("type","text")
        }else{
            $('.pwdMask > .form-control').attr("type","password")
        }
      }) ;
    }
    setupPwdToggle() ;



















</script>

</body>


</html>
