<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-signin-client_id" content="730014109642-7rldv9agg9qp0avagkapdv9l4kocjt5e.apps.googleusercontent.com">

    <!-- Title -->
    <title>Soup - Restaurant with Online Ordering System Template</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="apple-touch-icon" href="/img/favicon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon_152x152.png">

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/plugins/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="/plugins/animate.css/animate.min.css" />
    <link rel="stylesheet" href="/plugins/animsition/dist/css/animsition.min.css" />
    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css" />

    <!-- CSS Icons -->
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css" />

    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="/css/themes/theme-beige.css" />
    <link id="theme" rel="stylesheet" href="/css/themes/my-personal.css" />
    <link id="theme" rel="stylesheet" href="/css/login2.css" />


</head>

<body class="header-absolute">

<!-- Body Wrapper -->
<div id="body-wrapper" class="animsition">


    <div id="content ">
        <section class="section ">

            <div class="fullscreen-bg bg-dark dark">
                <video loop muted autoplay  class="bg-video-mine" style="opacity: 0.3">
                    <source src='/videos/home.mp4'  type="video/mp4">
                </video>
            </div>


            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8 offset-lg-4 offset-md-3 offset-sm-2">
                    <div class="card ">
                        <div class="card-block" style="margin: 40px">
                            <div class="row">
                                <div class="col-6 offset-3">
                                    <img src="/img/logo-horizontal-dark.png" class="img-fluid" alt="brand-logo">
                                </div>
                            </div>
                            <br>

                            <div id="div_SectionSignIn" class="panel-login">
                                <div class="text-center text-lg ">
                                    <b>Login to your account</b><br>
                                    Don't have an account? <a class="lnk-toggler allows-goto" data-gofrom="div_SectionSignIn" data-goto="div_SectionSignUp" data-panel=".panel-signup" href="#">Sign Up Free!</a>
                                </div>
                                <br><br>
                                <div class="row text-white">
                                    <div class="col-6 col-sm-6 text-center">
                                        <button id="Btn_FacebookLogin" type="button" class="btn " onclick="facebookSignIn();" style="background-color: #3b5998;color: white">Facebook Login</button>
                                    </div>
                                    <div class="col-6 col-sm-6 text-center">
                                        <!--<button id="Btn_FacebookLogin" type="button" class="btn " onclick="facebookSignIn();" style="background-color:#c32f10 ;color: white">Google Login</button>-->
                                        <div class="g-signin2"  data-longtitle="true" data-onsuccess="onGoogleSignIn"></div>
                                    </div>
                                </div>
                                <div class="row loginOr">
                                    <div class="col-xs-12 col-sm-12">
                                        <hr class="hrOr">
                                        <span class="spanOr">or</span>
                                    </div>
                                </div>
                                <div class="form-group wrap-input">
                                    <input id="input-login-email" name="post_Email" type="email" class="form-control email" placeholder="Email address">
                                    <span class="focus-input"></span>
                                </div>
                                <div class="form-group wrap-input">
                                    <div class="pwdMask">
                                        <input id="input-login-password" name="post_Password" type="password" class="form-control password"  placeholder="Password">
                                        <span class="focus-input"></span>
                                        <span class="fa fa-eye-slash pwd-toggle"></span>
                                    </div>
                                </div>
                                <div class="row remember-row">
                                    <div class=" offset-xs-6 offset-sm-6 col-xs-6 col-sm-6">
                                        <p class="forgotPwd">
                                            <a class="lnk-toggler allows-goto" data-gofrom="div_SectionSignIn" data-goto="div_SectionResetPassword" href="#">Forgot password?</a>
                                        </p>
                                    </div>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block" type="button" onclick="normalSignIn();">Login</button>
                            </div>


                            <div id="div_SectionSignUp" class="panel-signup" >
                                <div class="text-center text-lg ">
                                    <b>Sign up for Free!</b><br>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group wrap-input">
                                            <input id="input-signup-firstname" name="post_Firstname" class="form-control" type="text"  placeholder="Firstname">
                                            <span class="focus-input"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group wrap-input">
                                            <input id="input-signup-lastname" name="post_Lastname" class="form-control" type="text"  placeholder="Lastname" >
                                            <span class="focus-input"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group wrap-input">
                                    <input id="input-signup-email" name="post_Email" class="form-control" type="email" placeholder="Email address" >
                                    <span class="focus-input"></span>
                                </div>
                                <div class="form-group wrap-input">
                                    <div class="pwdMask">
                                        <input id="input-signup-password" name="post_Password" class="form-control" type="password"  placeholder="Password" >
                                        <span class="focus-input"></span>
                                        <span class="fa fa-eye-slash pwd-toggle"></span>
                                    </div>
                                </div>
                                <div class="form-group wrap-input">
                                    <div class="pwdMask">
                                        <input id="input-signup-password-again" name="post_PasswordAgain" class="form-control" type="password" placeholder="Retype your password" >
                                        <span class="focus-input"></span>
                                    </div>
                                </div>
                                <br>
                                <button class="btn btn-lg btn-primary btn-block" type="button" onclick="normalSignUp();">Sign up</button>
                                <br>
                                <div class="text-center">
                                    <a class="allows-goto" data-gofrom="div_SectionSignUp" data-goto="div_SectionSignIn" href="#">Already have an account?</a>
                                </div>
                            </div>


                            <div id="div_SectionResetPassword" class="panel-forgot">
                                <div class="text-center text-lg ">
                                    <b>Reset Your Password</b><br>
                                </div>
                                <br>
                                <p>Fill in your e-mail address below and we will send you an email with further instructions.</p>
                                <div class="form-group wrap-input">
                                    <input id="input-reset-email" type="email" class="form-control" placeholder="Email address">
                                    <span class="focus-input"></span>
                                </div>
                                <br>
                                <button class="btn btn-lg btn-primary btn-block" type="button" onclick="postGeneratePasswordResetEmail()">Send Email</button>
                                <br>
                                <div class="text-center  ">
                                    <a class="allows-goto" data-gofrom="div_SectionResetPassword" data-goto="div_SectionSignIn" href="#">Already have an account?</a>
                                    <br>
                                    <a class="allows-goto" data-gofrom="div_SectionResetPassword" data-goto="div_SectionSignUp" href="#">Don't have an account?</a>
                                </div>
                            </div>


                            <div id="div_SectionResetPasswordResponse" >
                                <div class="text-center text-lg ">
                                    <b>Reset Password</b><br>
                                </div>
                                <br>
                                <p>An email containing the instructions to reset your password has been sent to your email address
                                    Please check your email inbox</p>
                                <br>
                                <button class="btn btn-primary btn-lg btn-block allows-goto" data-gofrom="div_SectionResetPasswordResponse" data-goto="div_SectionSignIn" type="button">Return to Sign In</button>
                            </div>










                        </div>
                    </div>
                </div>
            </div>
            <!--These br tags are added so that when we click on some other page, the scroll up animation works correctly -->
            <!-- Try Removing these br tags and then go from home page to about page and you will see -->
            <br><br><br><br><br><br><br><br><br><br>

        </section>
    </div>




    <!-- Body Overlay : used to darken the rest of layout when cart is opened -->
    <div id="body-overlay"></div>

</div>


<!-- JS Plugins -->
<script src="/plugins/jquery/dist/jquery.min.js"></script>
<script src="/plugins/tether/dist/js/tether.min.js"></script>
<script src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/plugins/slick-carousel/slick/slick.min.js"></script>
<script src="/plugins/jquery.appear/jquery.appear.js"></script>
<script src="/plugins/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script src="/plugins/jquery.localscroll/jquery.localScroll.min.js"></script>
<script src="/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/plugins/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js"></script>
<script src="/plugins/twitter-fetcher/js/twitterFetcher_min.js"></script>
<script src="/plugins/skrollr/dist/skrollr.min.js"></script>
<script src="/plugins/animsition/dist/js/animsition.min.js"></script>
<script src="/plugins/toastr/toastr.min.js" ></script>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
<!-- JS Core -->
<script src="/js/core.js"></script>

<!-- Changes in javascript made by me-->
<script src="/js/myPersonal.js"></script>
<script src="/js/cart.js"></script>
<script src="/js/login.js"></script>


<script>

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '126236152092833',
            status : false,  // stops auto login
            cookie     : true,
            xfbml      : true,
            version    : 'v6.0'
        });
    };


    function normalSignIn(){
        // function for normal sign in (not google or facebook)
        fetch('/login', {
            method : 'POST',
            body : new URLSearchParams({
                post_Email : $('#input-login-email').val(),
                post_Password : $('#input-login-password').val(),
                _csrf : "{{_csrfToken}}",
            })
        })
        .then((response)=>response.json()) // have to do this for some goddamn reason otherwise the return data is just http status codes
                .then((data)=>{
                    console.log(data) ;
                    if(data.status == true){
                        redirectBack('/') ;
                    }else{
                        //TODO good looking error msg
                        makeToast('error', "Error in loggin in") ;
                    }
                }).catch((err)=>{
            // error in making post request

        }) ;
    }

    function googleSignOut() {
        try{
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
                return true ;
            }) ;
        }catch(err) {
            console.log("Error") ;
            console.log(err) ;
            return false ;
        }
    }






    function onGoogleSignIn(googleUser) {
        console.log("signed in google") ;
        var id_token = googleUser.getAuthResponse().id_token;
        $.ajax({
            url : '/signup/google',
            method : "POST",
            data : {
                "post_idToken" : id_token,
                "_csrf" : "{{_csrfToken}}"
            },
            success : (result)=>{
                if(result.status ==true){
                    googleSignOut() ;
                    redirectBack('/') ;
                }else{
                    console.log(result) ;
                }
            },
            error : (err)=> {
                //TODO show error msg
                makeToast('error', "Error in logging in") ;
                console.log("error");
                console.log(err);
            }
        }) ;

    }


    function facebookSignIn(){
        // This function is called after clicking the login button
        FB.login(function (response){
            // this inside function is called after we have gotten the result of facebook login
            // If the user gave permission, our status will be connected, else we show an error
            if (response.status === 'connected') {
                // Logged into your webpage and Facebook.
                // we need to make another request to get the email and name,
                // as faceboook only sends the id after login success
                FB.api('/me', {fields: 'id,first_name, last_name, email'}, function(profileInfo) {
                    if(profileInfo.error){
                        // Error in getting profile info
                        showError(profileInfo.error, "Error in getting FB Profile Info") ;
                        FB.logout(function(response) {
                            console.log("Lgging out from FB bad") ;
                        });
                    }else {
                        console.log(response.authResponse.accessToken) ;
                        console.log(profileInfo) ;
                        // sending the post request
                        $.ajax({
                            url : '/signup/facebook',
                            method : "POST",
                            data : {
                                "post_idToken" : response.authResponse.accessToken,
                                "post_Email" : profileInfo.email,
                                "post_Firstname" : profileInfo.first_name,
                                "post_Lastname" : profileInfo.last_name,
                                "post_Id" : profileInfo.id,
                                "_csrf" : "{{_csrfToken}}"
                            },
                            success : (result)=>{
                                $('#Btn_FacebookLogin').text("Logged In") ;
                                if(result.status ==true){
                                    console.log(result) ;
                                    //sign out the facebook user
                                    console.log("calling this code ") ;
                                    FB.logout(function(resp) {
                                        console.log(resp) ;
                                        console.log("Lgging out from FB good") ;
                                        redirectBack('/') ;
                                    });
                                }
                            },
                            error : (err)=> {
                                showError(err, "Error in Sending Post Request") ;
                                FB.logout(function(response) {
                                    console.log("Lgging out from FB bad") ;
                                });
                            }
                        }) ;
                    }
                });
            } else {
                // Not logged into your webpage or we are unable to tell.
                showError(response, "Error in logging in") ;
            }
        })
    }




    function normalSignUp(){
        // function for normal sign in (not google or facebook)
        fetch('/signup', {
            method : 'POST',
            body : new URLSearchParams({
                post_Firstname : $('#input-signup-firstname').val(),
                post_Lastname : $('#input-signup-lastname').val(),
                post_Email : $('#input-signup-email').val(),
                post_Password : $('#input-signup-password').val(),
                post_PasswordAgain : $('#input-signup-password-again').val(),
                _csrf : "{{_csrfToken}}",
            })
        })
        .then((response)=>response.json())
        .then((data)=>{
            console.log(data) ;
            if(data.status == true){
                redirectBack('/') ;
            }else{
                //TODO good looking error msg
                makeToast('error', "Error in loggin in, check console output") ;
            }
        }).catch((err)=>{
            makeToast('error', "Error in loggin in") ;
            console.log(err) ;
        }) ;
    }



    function postGeneratePasswordResetEmail(){
        $.ajax({
            url : '/generateResetPasswordEmail',
            method : "POST",
            data : {
                "post_Email" : $('#input-reset-email').val(),
                "_csrf" : "{{_csrfToken}}"
            },
            success : (result)=>{
                if(result.status ==true && result.success =="MAIL_SENT"){
                    console.log(result) ;
                    $('#div_SectionResetPasswordResponse').show() ;
                    $('#div_SectionResetPassword').hide() ;

                }else{
                    showError(result, "Some kind of error in the mail sending") ;
                    console.log(result) ;
                }
            },
            error : (err)=> {
                showError(err, "Error in making the post request") ;
            }
        }) ;
    }

    function initGotoPanel(){
      // hides a div and show another div
        // the location of div to be shown in is data-goto
        $('.allows-goto').click(function(event){
          event.preventDefault() ;
            $('#'+$(this).attr('data-goto')).show() ;
            $('#'+$(this).attr('data-gofrom')).hide() ;

        })
    }
    initGotoPanel() ;

















</script>

</body>


</html>
