{{#> template_base}}

    <!-- Page Title -->
    <div class="page-title bg-light">
        <div class="bg-image bg-parallax"><img src="{{publicDirectoryLocation}}/img/photos/bg-desk.jpg" alt=""></div>
        <div class="container">
            <div class="row justify-content-center">
                 <h1 class="mb-0"> Offers & Specials</h1>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="page-content bg-light">
        <div class="container">
            {{#each offersData}}
                <div class="special-offer mb-5 animated" data-animation="fadeIn">
                    <img src="{{@root.IMAGE_BACKENDFRONT_LINK_PATH}}{{image}}" alt="" class="special-offer-image">
                    <div class="special-offer-content">
                        <h2 class="mb-2">{{title}}</h2>
                        <br>
                        <h6 class="text-muted mb-5">{{message}}</h6>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

{{/template_base}}
