<!DOCTYPE html>
<html>
<head>
    <title>HomeFlavour Online Ordering</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/lib/reset/reset.css" >

    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-grid.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-reboot.min.css" >
    <link rel="stylesheet" href="/lib/bootstrap4/bootstrap_addon.css" >

    <link rel="stylesheet" href="/lib/material_color/material-design-color-palette.css">

    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" >

    <link rel="stylesheet" href="/lib/t3/t3.css" />



    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/itemdetail.css">



</head>
<body>


{{>header}}
{{>sidebar}}

<section class="container-fluid t3-push" id="mainContainer">
    <div class="row">
        <div class="col-md-12">

            <div id="space_below_header">
                <br><br><br><br>
            </div>



            <div id="mainContent" class="row">
                <div class = col-md-1></div>


                <!-- ********************* Main CONTENT HERE ******************* -->
                <div id="mainContent_Section_DetailForm" class="col-md-5" >
                    <center><h3>Item Details</h3> </center>
                    <table border="1" rules="rows" style="margin-left: 10px">
                        <tr>
                            <th> Item Name </th>
                            <td> {{itemData.item_name}} </td>
                        </tr>
                        <tr>
                            <th> Item Description </th>
                            <td> {{itemData.item_description}} </td>
                        </tr>
                        <tr>
                            <th> Item Image </th>
                            <td>  <img src='{{IMAGE_BACKENDFRONT_LINK_PATH}}{{itemData.item_image_name}}' class='img-fluid' width='320'> </td>
                        </tr>
                    </table>
                </div>



                <div class = col-md-1></div>
                <div id = 'mainContent_Section_QuantityCard' class = 'col-md-4'>
                    <center><h3>Add Item To Cart</h3></center>

                    <div id="mainContent_Section_QuantityForm" >
                        <form action="/menu" method="post">


                            <div id="type chooser">
                                {{#if multipleSizes}}

                                    <div>
                                        Choose Type : <br>
                                        {{#each sizeData}}
                                            {{#ifEquals size_is_default "true"}}
                                                <input type='radio' name='item_size_id' value='{{size_id}}' checked='checked'> {{size_name}} ({{item_price}})
                                            {{else}}
                                                <input type='radio' name='item_size_id' value='{{size_id}}'> {{size_name}} ({{item_price}})
                                            {{/ifEquals}}
                                        {{/each}}
                                    </div>

                                {{else}}
                                    <input type='hidden' name='item_size_id' value='{{sizeData.0.size_id}}'>
                                {{/if}}
                            </div>




                            <div id="AddonsChooser">
                                {{#each addonData}}
                                    <br><br>
                                    Choose {{addon_group_display_name}}
                                    <div>
                                        <input type='hidden' name='__addongroup_id_{{rel_id}}[]'  >
                                        {{#each addon_items_data}}
                                            {{#ifEquals 0.item_is_default "true"}}
                                                <input type='{{../addon_group_type}}' name='__addongroup_id_{{../rel_id}}[]' value='{{0.item_id}}' checked="checked" > {{0.item_name}} ( {{#each this}} {{addon_price}} {{/each}} )  <br>
                                            {{else}}
                                                <input type='{{../addon_group_type}}' name='__addongroup_id_{{../rel_id}}[]' value='{{0.item_id}}'  > {{0.item_name}} ( {{#each this}} {{addon_price}} {{/each}} )  <br>

                                            {{/ifEquals}}

                                        {{/each}}
                                    </div>
                                {{/each}}
                            </div>



                            <div id="QuantityChooser">
                                <br>
                                Choose Quantity :
                                <input type="number" name="Event_AddItemToCart_ItemQuantity" value="1">
                                <input type="hidden" value="{{itemData.item_id}}" name="Event_AddItemToCart_ItemId">
                                <br><br>
                                <input type="submit" name="Event_AddItemToCart" value="Add To Cart">
                            </div>

                        </form>

                    </div>
                </div>




                <div class = col-md-1></div>
            </div>



            <div id="space_before_footer">
                <br><br><br><br>
            </div>

        </div>
    </div>
</section>

{{>footer}}

<script type="text/javascript" ></script>

<script type="text/javascript" src="/lib/jquery/jquery.js" ></script>


<script type="text/javascript" src="/lib/bootstrap4/bootstrap.min.js" ></script>
<script type="text/javascript" src="/lib/bootstrap4/bootstrap_addon.js" ></script>
<script type="text/javascript" src="/lib/t3/t3.js"></script>



</body>


</html>