<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-signin-client_id" content="730014109642-7rldv9agg9qp0avagkapdv9l4kocjt5e.apps.googleusercontent.com">

    <!-- Title -->
    <title>Soup - Restaurant with Online Ordering System Template</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <link rel="apple-touch-icon" href="/assets/img/favicon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon_152x152.png">

    <!-- CSS Plugins -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >-->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/plugins/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="/assets/plugins/animate.css/animate.min.css" />
    <link rel="stylesheet" href="/assets/plugins/animsition/dist/css/animsition.min.css" />
    <link rel="stylesheet" href="/assets/plugins/toastr/toastr.min.css" />

    <!-- CSS Icons -->
    <link rel="stylesheet" href="/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css" />

    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="/assets/css/themes/theme-beige.css" />
    <link id="theme" rel="stylesheet" href="/assets/css/themes/my-personal.css" />




</head>

<body>




<!-- Body Wrapper -->
<div id="body-wrapper" class="animsition">

    {{>header_light}}



    <!-- Content -->
    <div id="content">

        <!-- Page Title -->
        <div class="page-title bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <h1 class="mb-0" style="">Our Menu</h1>
                </div>
            </div>
        </div>






        <div class="menu-sample-carousel carousel inner-controls nav" role="tablist" data-slick='{
                "dots": true,
                "slidesToShow": 3,
                "slidesToScroll": 1,
                "infinite": true,
                "responsive": [
                    {
                        "breakpoint": 991,
                        "settings": {
                            "slidesToShow": 2,
                            "slidesToScroll": 1
                        }
                    },
                    {
                        "breakpoint": 690,
                        "settings": {
                            "slidesToShow": 1,
                            "slidesToScroll": 1
                        }
                    }
                ]
            }'>


            {{#each menuData}}
                <div class="menu-sample" >
                    <a href="#yolo-{{category_name}}" class="nav-item {{#if @first}}active{{/if}}" data-toggle="tab">
                        <img src="{{@root.IMAGE_BACKENDFRONT_LINK_PATH}}{{category_image}}" alt="" class="image">
                        <h3 class="title">{{category_name}}</h3>
                    </a>
                </div>
            {{/each}}


        </div>
        <br>



        <div id="yoloMenuContent" class="col-md-10 push-md-1 tab-content menu-category">

            {{#each menuData}}
                <div id="yolo-{{category_name}}" class="tab-pane fade menu-category-content padded collapse show {{#if @first}}active{{/if}}">
                    <div class="row gutters-sm">
                    {{#each items}}

                        <div class="col-lg-4 col-6">
                            <!-- Menu Item -->
                            <div class="menu-item menu-grid-item itemDetail" data-target="#productModal" data-toggle="modal" data-category-id="{{../category_id}}" data-item-id="{{item_id}}">
                                <img href="/item/{{../category_id}}/{{item_id}}" class="mb-4" src="{{@root.IMAGE_BACKENDFRONT_LINK_PATH}}{{item_image_name}}" alt="">
                                <h6 class="mb-0">{{item_name}}</h6>
                                <span class="text-muted text-sm">{{item_description}}</span>
                            </div>
                        </div>


                    {{/each}}




                    </div>
                </div>
            {{/each}}




        </div>





        <!-- Page Content -->
        <div class="page-content">

        </div>

        {{>footer_new}}

    </div>
    <!-- Content / End -->

    {{>cart_new}}

    {{>panel_mobile}}

    <!-- Body Overlay : used to darken the rest of layout when cart is opened -->
    <div id="body-overlay">

    </div>

</div>

<div class="modal fade" id="productModal" role="dialog">
    <div class="modal-dialog" role="document">

    </div>
</div>

<!-- JS Plugins -->
<script src="/assets/plugins/jquery/dist/jquery.min.js"></script>
<script src="/assets/plugins/tether/dist/js/tether.min.js"></script>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>-->
<script src="/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/plugins/slick-carousel/slick/slick.min.js"></script>
<script src="/assets/plugins/jquery.appear/jquery.appear.js"></script>
<script src="/assets/plugins/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script src="/assets/plugins/jquery.localscroll/jquery.localScroll.min.js"></script>
<script src="/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/assets/plugins/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js"></script>
<script src="/assets/plugins/twitter-fetcher/js/twitterFetcher_min.js"></script>
<script src="/assets/plugins/skrollr/dist/skrollr.min.js"></script>
<script src="/assets/plugins/animsition/dist/js/animsition.min.js"></script>
<script src="/assets/plugins/toastr/toastr.min.js" ></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- JS Core -->
<script src="/assets/js/core.js"></script>

<!-- Changes in javascript made by me-->
<script src="/assets/js/myPersonal.js"></script>

<script src="/assets/js/cart.js"></script>


<script >
    /**
     * This code is needed as the active class is not removed from the nav item
     */
    $(".nav-item").click(function() {
        $(".nav-item").removeClass('active');
    });


    function showCorrectAddonItemPrice_bySize(){
      /* This function changes the price of addonItems when the size of menuItem is changed
       *
       * So the way this function works is like this.
       * All the addonItems have the class myAddonItem,
       * and by default their prices are hidden by using a class "text-hide"
       * So to make an addonItem show its price, we remove the class "text-hide" from it
       *
       * Also, all the addonItems have a data attribute called 'data-size-id' which stores the sizeId in it.
       * So if we want to only show prices of addonItems with a specific sizeId,
       * we simply select those and remove the class "text-hide" from those elements
       *
       * Also in the input 'post_SizeData', the attr 'data-multiple-sizes' is 'true' if we have multiple sizes
       * and 'false' if we have a single size
       *
       * So firstly we check if we have multiple sizes or not
       * If not, we simply remove the class "text-hide" from all addonItems
       */

        if($('[name="post_SizeData"]').attr('data-multiple-sizes') == 'false'){
            $(".myAddonItem").each(function (index, element) {
                $(element).removeClass('text-hide') ;
            }) ;
            return ;
        }

      /* So now we have multiple sizes, Which also means we have a default selected size Id
       * So remove the class "text-hide" from all those elements which have  [data-size-id = defaultSelectedSizeId]
       * Thus making thier price visible
       *
       * This same thing is done, when the radio button of a size is clicked
       * We obtain the newly selected sizeId  "selectedSizeId"
       * all the addonItems are hidden by adding the class "text-hide"
       * Then those addonItems which have [data-size-id = selectedSizeId], their text is shown by removing the class 'text-hide'
       */

        let defaultSelectedSizeId = $('[name="post_SizeData"]:checked').attr('data-size-id') ;
        $(".myAddonItem[data-size-id=" + defaultSelectedSizeId + "]").each(function (index, element) {
            $(element).removeClass('text-hide') ;
        }) ;

        $('[name="post_SizeData"]').click(function () {
        $('.myAddonItem').addClass('text-hide') ;
            let selectedSizeId = $(this).attr('data-size-id') ;
            console.log("Selected size is " + selectedSizeId) ;
            $(".myAddonItem[data-size-id=" + selectedSizeId+ "]").each(function (index, element) {
              // console.log(element) ;
                $(element).removeClass('text-hide') ;
            }) ;
        }) ;

    }


    var groupBy = function (arr, criteria) {
        return arr.reduce(function (obj, item) {

            // Check if the criteria is a function to run on the item or a property of it
            var key = typeof criteria === 'function' ? criteria(item) : item[criteria];

            // If the key doesn't exist yet, create it
            if (!obj.hasOwnProperty(key)) {
                obj[key] = [];
            }

            // Push the value to the object
            obj[key].push(item);

            // Return the object to the next item in the loop
            return obj;

        }, {});
    };





  function addCartItemToLocalStorage (){

    try {
      let itemId = $('input[name=post_ItemId]').val() ;
      let itemName = $('input[name=post_ItemName]').val() ;
      let itemQuantity = $('input[name=post_ItemQuantity]').val() ;
      let categoryId = $('input[name=post_CategoryId]').val() ;

      let itemSizeData, addonData =[] ;
      if($('input[name=post_SizeData]:checked').attr('data-multiple-sizes')=='true'){
        // this is done because for a hidden input size,
        // the type is not really radio but rather hidden, so :checked returns undefined
        itemSizeData = JSON.parse($('input[name=post_SizeData]:checked').val());
      }else{
        itemSizeData = JSON.parse($('input[name=post_SizeData]').val());
          console.log("getting the val from single sizes") ;

      }
      let itemPrice = parseFloat(itemSizeData.price) ;

      $('.addonGroupData:checked').each((index, element)=>{
        let priceData = JSON.parse($(element).val()) ;
        let addonPrice ;
        priceData.forEach(function (e){
          if(e['sizeId'] == itemSizeData.id){
              addonPrice = e['price'] ;
              itemPrice += parseFloat(addonPrice) ;
          }
        }) ;

        let addonItemData = {
          addonGroupId : $(element).attr('data-addongroup-id'),
          addonGroupName : $(element).attr('data-addongroup-name'),
          addon_item_data: {
            name : $(element).attr('data-addonitem-name'),
            id : $(element).attr('data-addonitem-id'),
            price : addonPrice
            }
        } ;

        addonData.push(addonItemData)
      }) ;


      // Changing the way addonItems are stored, i.e. grouping the addonItems of an addonGroup
      addonData = groupBy(addonData, "addonGroupName") ;
      addonData = Object.keys(addonData).map((index)=>addonData[index]) ;

      addonData = addonData.map((value, key)=>{
        return {
          addonGroupId : value[0].addonGroupId,
          addonGroupName : value[0].addonGroupName,
          addon_items_array : value.map((val)=>val.addon_item_data)
        }
      }) ;

      // console.log(addonData) ;

        let itemData = {
          categoryId,
          itemId,
          itemName,
          itemQuantity,
          itemSizeData,
          addonData,
          itemPrice
        } ;

      let cartData = localStorage.getItem('cart') || '[]' ;
      cartData = JSON.parse(cartData) ;
      cartData.push(itemData) ;


      localStorage.setItem('cart', JSON.stringify(cartData)) ;
      localStorage.setItem('total_items', parseInt(localStorage.total_items)+1 ) ;
      localStorage.setItem('total_items_price', parseFloat(localStorage.total_items_price) + itemPrice ) ;

    }catch (e) {
        console.log(e.message) ;
    }


    }


    $(".itemDetail").click(function() {
      var itemId = $(this).attr("data-item-id") ;
      var categoryId = $(this).attr("data-category-id") ;
        console.log("making request on item2/" + categoryId + "/" + itemId);

        fetch('/item/' + categoryId + '/' + itemId).then(function(response) {
            response.text().then(function(text) {
              $("#productModal").html(text) ;
              formatCurrency() ;

              showCorrectAddonItemPrice_bySize() ;
                $('#addToCart').click(()=>{
                    addCartItemToLocalStorage() ;
                    refreshNoOfItemsInCart() ;
                    // showAddtoCartNotification() ;
                    makeToast("info", "Item successfully added to cart") ;
                }) ;



            });
        });


    }) ;






</script>


</body>


</html>
